<div class='container'>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= form_with model: @article, class: 'form-vertical', local: true do |form| %>
 
    <%= render 'shared/errors' %>
   
    <p class='form-group'>
      <%= form.label :title, class: 'label' %><br>
      <%= form.text_field :title, class: 'form-control' %>
    </p>
   
    <p class='form-group'>
      <%= form.label :text, class: 'label' %><br>
      <%= form.text_area :text, class: 'form-control' %>
    </p>

    <p class='form-group'>
      <%= form.select :category, options_for_select(['Important', 'Not Important'], @article.category), { include_blank: 'Choose Category' }, class: 'chosen-select form-control' %>
    </p>
   
    <p class='form-group'>
      <%= form.submit 'Submit', class: 'btn btn-primary aj-try', :remote => true %>
    </p>
   
  <% end %>
</div>