<%= render 'navbar' %>

<div class='container-fluid'>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <h1>Listing articles</h1>

  <%= page_entries_info @aticles %>
  <table class='table table-condensed table-hover table-dark table-striped'>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th></th>
    </tr>
 
    <% @aticles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= show_limited_description(article) %></td>
        <td><%= link_to 'Show', article_path(article), class: 'btn text-white' %></td>
        <td><%= link_to 'Edit', edit_article_path(article), class: 'btn text-white' %></td>
        <td><%= link_to 'Destroy', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: 'btn text-white' %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @aticles, class: 'btn', data: { 'btn' => true } %>

</div>
