<!DOCTYPE html>
<html>
  <head>
    <title>Test2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div style="border-color: black; border-radius: 50px; align-content: center; align-items: center; align-self: center; padding: 20px; border-style: solid; background-color: lightgrey">
      <%= yield %>
    </div>
  </body>
</html>
